<html>
  <head>
    <title>{{ title }}</title>
    <style type="text/css">
      /* @todo: A4 page CSS */
    </style>
  </head>
  <body>
    {# langcode variable is availble #}
    {{ content }}
  </body>
</html>